.Search-results-main-container{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 0;
  margin-right: 80px;
}

.search-results-container{
    display: block;
    padding: 0 20px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 3;
    background-color: white;
}
.search-results-container h2{
    display: flex;
    justify-content: flex-start;
    border-bottom: solid rgb(166, 164, 164);
    margin-top: 70px;
    padding-bottom: 15px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Button styles */
.page-button {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .page-button.active {
    background-color: #e0e1e3;
    color: rgb(116, 115, 115);
    font-weight: bold;
  }
  
  .page-button:hover {
    background-color: #acadaf;
    color: rgb(229, 228, 228);
  }
